@model Proestimator.ViewModel.PasswordResetVM

@using Proestimator.Resources

@{
    ViewBag.Title = "Password Rest";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<style>

</style>

<script>
    $(document).ready(function ()
    {
    });
</script>

<div class="container">
    @using (Html.BeginForm("PasswordReset", "Login", FormMethod.Post, new { @class = "container" }))
    {
        @Html.ValidationSummary(true)

        @Html.HiddenFor(o => o.Code)

        
    <div id="loginFormContainer" class="container" style="max-width: 500px; margin: 0px auto; float: none;">

        @if (Model.GoodLink)
        {
            <div>
                <h1>Change Password</h1>
            </div>

            <div class="field-wrapper" style="display: none;">
                <label class="loginLabel field-label" style="margin-top: 1px;">Organization / User Name</label>
                <div class="field-control">
                    @Html.TextBoxFor(o => o.UserName, new { autocomplete = "off", @class = "textbox login-text" })
                </div>
            </div>

            <div class="field-wrapper">
                <label class="loginLabel field-label">@Proestimator.Resources.ProStrings.Login_NewPassword:</label>
                <div class="field-control">
                    @Html.TextBoxFor(o => o.NewPassword1, new { autocomplete = "off", type = "password" })
                </div>
            </div>

            <div class="field-wrapper">
                <label class="loginLabel field-label">@Proestimator.Resources.ProStrings.Login_NewPassword2:</label>
                <div class="field-control">
                    @Html.TextBoxFor(o => o.NewPassword2, new { autocomplete = "off", type = "password" })
                </div>
            </div>

            <div class="field-wrapper">
                <label class="loginLabel field-label"></label>
                <div class="field-control" style="text-align: center;">
                    <input type="submit" value="@Proestimator.Resources.ProStrings.Submit" class="button" />
                </div>
            </div>

            <div class="field-wrapper">
                <label class="loginLabel field-label"></label>
                <div class="field-control">
                    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                    {
                        <label style="font-size:medium; color:red; text-align: center; padding-top: 10px;">@Model.ErrorMessage</label>
                    }
                </div>
            </div>
        }
        else
        {
            <div>
                <h1>Bad or expired link</h1>
            </div>
        }
    </div>
        

        <div style="clear:both; height:50px;"></div>
    }

</div>