@model Proestimator.ViewModel.ChangePasswordVM

@using System.Linq;
@using Proestimator.Resources;

@{
    ViewBag.Title = Proestimator.Resources.ProStrings.PageTitle_ChangePassword;
}

<style>

    @@media screen and (max-width:900px) {
        #smEstimateNavRow {
            border: 1px solid #349ad8;
            background-color: #f5f9fb;
            max-width: 100%;
            padding-right: 30px;
            /*margin-left: 20px;*/
        }

        #estimateNavigation {
            margin-top: 15px;
        }
    }

</style>


<div id="workDesk" class="page-container">

    @using (Html.BeginForm("ChangePassword", "Settings", FormMethod.Post, new { @class = "container" }))
    {
        @Html.Partial("SettingTopMenu")

        @Html.HiddenFor(model => model.UserID)

        <input type="hidden" id="redirectData" name="redirectDataField" />

        <div class="tabcontent container">

            <div id="contactFields" class="half-container" style="padding-top: 20px;">

                <fieldset id="companyNameFieldset">

                    <div class="field-wrapper">
                        <label class="inputLabel field-label">@Proestimator.Resources.ProStrings.OldPassword</label>
                        <div class="field-control">
                            @Html.TextBoxFor(model => model.OldPassword, new { autocomplete = "off", type = "password" })
                        </div>
                    </div>

                    <div class="field-wrapper">
                        <label class="inputLabel field-label">@Proestimator.Resources.ProStrings.Login_NewPassword</label>
                        <div class="field-control">
                            @Html.TextBoxFor(model => model.NewPassword1, new { autocomplete = "off", type = "password" })
                        </div>
                    </div>

                    <div class="field-wrapper">
                        <label class="inputLabel field-label">@Proestimator.Resources.ProStrings.Login_NewPassword2</label>
                        <div class="field-control">
                            @Html.TextBoxFor(model => model.NewPassword2, new { autocomplete = "off", type = "password" })
                        </div>
                    </div>

                    <div class="field-wrapper">
                        <label class="inputLabel field-label">&nbsp;</label>
                        <div class="field-control">
                            <input id="submitButton" type="submit" value="@Proestimator.Resources.ProStrings.PageTitle_ChangePassword" class="button nav-btn" />
                            <label style="font-size: medium; color: red; padding-top: 10px;">
                                @Model.PasswordFailureText
                            </label>
                        </div>
                    </div>

                </fieldset>

            </div>

        </div>
    }

</div>